@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

@layer base {
  h1 {
    @apply scroll-m-20 text-4xl font-semibold tracking-wide lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight lg:text-4xl;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight lg:text-3xl;
}


  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight lg:text-2xl;
  }

  h5 {
    @apply scroll-m-20 text-lg font-semibold tracking-tight lg:text-xl;
  }

  h6 {
    @apply scroll-m-20 font-semibold tracking-tight lg:text-lg;
  }
}

@layer utilities {
  .max-width {
    @apply mx-auto max-w-7xl;
  }

  .padding-x {
    @apply px-5 sm:px-7 md:px-14 lg:px-20;
  }

  .padding-r {
    @apply pr-5 sm:pr-7 md:pr-14 lg:pr-20;
  }

  .padding-y {
    @apply py-10 lg:py-20;
  }

  .margin-y {
    @apply my-10 lg:my-20;
  }

  .custom-transition {
    @apply transition-all duration-300;
  }
}